<h2>Успішна авторизація</h2>
<script>
    $(document).ready(function () {
        setTimeout(function() {
            window.location.href = "@Url.Action("Index", "Home")";
        }, 100);
    })
</script>
